<div class="row">
  <div class="col-sm-6">
    {{sourcePort}}
  </div>
  <div class="col-sm-6">
    {{destinationPort}}
  </div>
  <div class="col-sm-12">
    {{sequence}}
  </div>
  <div class="col-sm-12">
    {{ackNumber}}
  </div>
  <div class="col-sm-1">
    {{offset}}
  </div>
  <div class="col-sm-5">
    {{flags}}
    <h6>urg</h6>
    <h6>ack</h6>
    <h6>psh</h6>
    <h6>rst</h6>
    <h6>syn</h6>
    <h6>fin</h6>
  </div>
  <div class="col-sm-6">
    {{window}}
  </div>
  <div class="col-sm-6">
    {{checksum}}
  </div>
  <div class="col-sm-6">
    {{urgent}}
  </div>
  <div class="col-sm-8">
    {{options}}
  </div>
  <div class="col-sm-4">
    {{padding}}
  </div>
  <div class="col-sm-12">
    {{data}}
  </div>
</div>